# haproxy-config.j2
global
	log	/dev/log	local0
	log	/dev/log	local1 notice
	chroot	/var/lib/haproxy
	stats	socket /run/haproxy/admin.sock mode 660 level admin
	stats	timeout 30s
	user	haproxy
	group	haproxy
	daemon

	# Default SSL material locations
	ca-base	/etc/ssl/certs
	crt-base	/etc/ssl/private

	# Default ciphers to use on SSL-enabled listening sockets.
	ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS
	ssl-default-bind-options no-sslv3

defaults
	log	global
	option	dontlognull
	option	redispatch
	retries	3
	timeout connect 5000
	timeout client  50000
	timeout server  50000
	errorfile 400 /etc/haproxy/errors/400.http
	errorfile 403 /etc/haproxy/errors/403.http
	errorfile 408 /etc/haproxy/errors/408.http
	errorfile 500 /etc/haproxy/errors/500.http
	errorfile 502 /etc/haproxy/errors/502.http
	errorfile 503 /etc/haproxy/errors/503.http
	errorfile 504 /etc/haproxy/errors/504.http

# Stats dashboard
listen stats
	bind {{ ansible_default_ipv4.address }}:8404
	mode http
	stats enable
	stats uri /
	stats refresh 10s
	stats auth admin:admin123
	stats admin if TRUE

# Load Balancing for MariaDB Galera Cluster
listen mariadb_galera_cluster
	bind {{ ansible_default_ipv4.address }}:3306
	balance roundrobin
	mode tcp
	option tcpka
	option mysql-check user haproxy
	{% for host in groups['mariadb_cluster'] %}
	server {{ hostvars[host]['inventory_hostname'] }} {{ hostvars[host]['ansible_default_ipv4']['address'] }}:3306 check weight 1
	{% endfor %}